<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymelaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Template</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link href="../../static/styles/style.css" th:href="@{/styles/style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1 class="text-center">
                        Notes
                        <br/>
                        <small>Simply write it down before You forget</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="text-center">Add tag</h4>
                        <div class="d-flex justify-content-center">
                            <a th:href="@{/tag/add}" class="btn btn-primary text-center">ADD</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card" >
                    <div class="card-block">
                        <h4 class="text-center">Add a new note</h4>
                        <div class="d-flex justify-content-center">
                            <a th:href="@{/note/add}" class="btn btn-primary text-center">ADD</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-block">
                        <h4 class="text-center">Browse notes</h4>
                        <div class="d-flex justify-content-center">
                            <a th:href="@{/note/find}" class="btn btn-primary text-center">BROWSE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section layout:fragment="content">
            <p>In layout content</p>
        </section>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script th:src="@{/scripts/custom.js}"
            type="text/javascript"></script>
</body>
</html>